<!DOCTYPE html>
<html lang="en" ng-app="thirdExercise">

<head>
    <meta charset="UTF-8">
    <title>Third Exercise</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body ng-controller="mainController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p>{{input1}}</p>
                <input type="text" ng-model="input1" class="well well-small">
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p>{{input2}}</p>
                <input type="text" ng-model="input2" class="well well-small">
            </div>


            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p>{{input3}}</p>
                <input type="text" ng-model="input3" class="well well-small">
            </div>

        </div>
    </div>




    <!--
    
    

    

-->



    <script src="ang.js"></script>
</body>

</html>
