* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 200px;
}


.clear {
    clear: both;
    margin-bottom: 5px;
}

.header {
    background-color: #202020;
    height: 113px;
}

#brand-name {
    color: red;
    font-size: 3em;
}


.box {
    text-align: center;
}

.col-sm-4 {
    height: 220px;
    margin-bottom: 10px;
    
}